.wrapper {
  &-cabinet, &-main, &-about, &-portfolio, &-reviews {
    height: 100vh;
  }

  &-main {
    background: #1E1E1E;

    .menu {
      display: flex;
      color: #FFFFFF;
      font-family: 'InterLight';
    }

    .images {
      position: relative;

      img {
        position: absolute;
        z-index: 2;
      }

      .left-appolo {
        &:hover {
          transform: scale(1.01) translateX(10px);
        }
      }

      .tattoo-machine {
        top: 50vh;
      }

      .right-appolo {
        top: 40vh;
        right: 0;
      }

      .background {
        z-index: 1;

        &.right {
          right: 0;
        }
      }
    }
  }

  &-cabinet {
    background: #D6A84E;
    position: relative;

    .video-shadow {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-family: 'InterRegular';

      .studio-text {
        font-size: 5vw;
        height: max-content;
        line-height: 0.5;
      }
    }

    #myVideo {
      position: absolute;
      height: 100%;
    }
  }

  &-about {
    background: #121212;
    display: flex;

    .my-photo {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #D6A84E;
        margin: 1em 0;
        padding: 0;
        width: 80%;
      }
    }
  }

  &-portfolio {
    background: #8E6F31;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-family: 'InterThin';
    color: #121212;
  }

  &-reviews {
    background: #0A0A0A;
  }
}
