<div class="wrapper">
  <div class="wrapper-main">
    <div class="menu">
      <p><a href="#cabinet">НАША СТУДІЯ ТАТУ МАЙСТЕР</a></p>
      <p>ВІДГУКИ</p>
      <p>КОНТАКТИ</p>
    </div>

    <div class="images">
<!--      <img data-aos="fade-up"-->
<!--           data-aos-offset="200"-->
<!--           data-aos-duration="1000"-->
<!--           data-aos-easing="ease-in-out"-->
<!--           data-aos-mirror="true"-->
<!--           data-aos-once="false"-->
<!--           class="left-appolo"-->
<!--           src="./assets/images/left-appolo.png"-->
<!--           alt="Appolone">-->
<!--      <img data-aos="fade-up"-->
<!--           data-aos-offset="200"-->
<!--           data-aos-duration="1000"-->
<!--           data-aos-easing="ease-in-out"-->
<!--           data-aos-mirror="true"-->
<!--           data-aos-once="false"-->
<!--           class="tattoo-machine" src="./assets/images/tattoo-machine.png" alt="Tattoo Machine">-->
<!--      <img data-aos="fade-up"-->
<!--      data-aos-offset="200"-->
<!--      data-aos-duration="1000"-->
<!--      data-aos-easing="ease-in-out"-->
<!--      data-aos-once="false" class="right-appolo" src="./assets/images/right-appolo.png" alt="Tattoo Machine">-->
<!--      <img class="logo" src="./assets/images/logo.png" alt="Tattoo Machine">-->

<!--      <img class="background hands" src="./assets/images/hands.png" alt="Tattoo Machine">-->
<!--      <img class="background right" src="./assets/images/right-flower.png" alt="Tattoo Machine">-->
<!--      <img class="background left" src="./assets/images/left-flower.png" alt="Tattoo Machine">-->
    </div>
  </div>

  <div class="wrapper-cabinet" id="cabinet">
    <div class="video-shadow">
      <div class="studio-text">
        <p>Ваша затишна</p>
        <br>
        <p>Студiя</p>
      </div>
    </div>
    <video autoplay muted loop id="myVideo">
      <source src="./assets/video/videoplayback.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

  </div>

  <div class="wrapper-about">
    <div class="my-photo">
      <img src="./assets/images/me.png">
    </div>

    <div class="description">
      <p class="name">ДАР’Я</p>
      <p class="certificate">Сертифікована Тату-Майстриня</p>
      <hr>
      <p class="styles">Стилі: графіка, полінезія, скандінавія, хендпоук, геометрія, мінімалізм, олд-скул, скєтч, віпшейдінг</p>
      <p class="work">Авторські ескізи, індивідуальний підхід до кожного клієнта</p>
      <hr>
      <p class="advantages">Ця дівчина не тільки прикрасить Ваше тіло, а і підбере ключ до Вашого серця!</p>
    </div>
  </div>

  <div class="wrapper-portfolio">
    <p>ПОРТФОЛІО</p>
  </div>

  <div class="wrapper-reviews">

  </div>
</div>
